In [1]:
sc, spark

(<pyspark.context.SparkContext at 0x104c4fc10>,
 <pyspark.sql.session.SparkSession at 0x104caaf90>)

In [2]:
import pyspark as ps
from pyspark.sql.types import *
from pyspark.ml.recommendation import *
from pyspark.ml.evaluation import *
import numpy as np
from sklearn.metrics.pairwise import cosine_distances, cosine_similarity
from scipy.spatial.distance import cdist
import pandas as pd
import time
import ast

In [3]:
# sc = ps.SparkContext('local[128]')
# spark = ps.SQLContext(sc)

# from pyspark.sql import SparkSession

# spark = (SparkSession.builder
#     .master("spark://localhost:7077")
#     .config("spark.driver.cores", 127)
#     .config("spark.driver.memory", "1000g")
#     .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
#     .config("spark.driver.extraClassPath","")
#     .config("spark.driver.extraClassPath","")
#     .appName("artistrecommender")
#     .getOrCreate())

## Data frame loads

In [4]:
artist_follower_df = spark.read.csv('../data/artist_follower.csv').persist()
artist_df = spark.read.csv('../data/artist_meta.csv').persist() #manually flagged duplicates to remove after sc scrape as 1's
follower_df = spark.read.csv('../data/followers.csv').persist() 

artist_follower_df.createOrReplaceTempView('artist_follower')
artist_df.createOrReplaceTempView('artists')
follower_df.createOrReplaceTempView('followers')

## Artist & Follower column name generation

In [5]:
artist_follower_df = spark.sql("""
SELECT distinct
    /*
    _c0 as exception
    ,_c1 as artist_num
    ,_c2 as artist_follower_num
    ,*/
    _c3 as artist_alias
    ,_c4 as follower_alias
FROM artist_follower where _c2 != 'artist_follower_num'
LIMIT 10000
""").persist()

artist_follower_df.createOrReplaceTempView('artist_follower')

#0 means the artist is not a duplicate record
artist_df = spark.sql("""
SELECT distinct
    _c0 as index
    ,_c1 as id
    ,_c2 as artist_name
    ,_c3 as sc_alias
    ,_c4 as city
    ,_c5 as country
    ,_c6 as followers_count
    ,_c7 as followings_count
    ,_c8 as last_modified
    ,_c9 as playlist_count
    ,_c10 as plan
    ,_c11 as public_favorites_count
    ,_c12 as track_count
    ,_c13 as count
FROM artists where _c2 != 'artist_name'
AND _c14 = 0
""").persist()

artist_df.createOrReplaceTempView('artists')

follower_df = spark.sql("""
SELECT distinct
    --_c0 as exception
    --,_c1 as artist_num
    --,_c2 as artist_follower_num
    _c3 as artist_alias
    ,_c4 as follower_alias
    ,_c5 as comments_count
    ,_c6 as followers_count
    ,_c7 as followings_count
    --,_c8 as last_modified
    ,_c9 as likes_count
    ,_c10 as plan
    ,_c11 as playlist_count
    ,_c12 as public_favorites_count
    ,_c13 as reposts_count
    ,_c14 as track_count
    ,_c15 as uri
    ,_c16 as username
FROM followers where _c0 != 'exception'
""").persist()

follower_df.createOrReplaceTempView('followers')

## Artist & Follower id generation

In [6]:
custom_artist_id_df = spark.sql("""
select distinct
    row_number() over(order by sc_alias) as artist_id
    ,sc_alias as artist_alias
from artists
group by sc_alias
""").persist()

custom_artist_id_df.createOrReplaceTempView('custom_artist_id')

custom_follower_id_df = spark.sql("""
select distinct
    row_number() over(order by follower_alias) as follower_id
    ,follower_alias
from followers
group by follower_alias
""").persist()

custom_follower_id_df.createOrReplaceTempView('custom_follower_id')

artist_follower_ids_df = spark.sql("""
SELECT DISTINCT
    caid.artist_id
    ,cfid.follower_id
    ,af.artist_alias
    ,af.follower_alias
    ,1 as count
FROM artist_follower af
JOIN custom_artist_id caid on af.artist_alias = caid.artist_alias
JOIN custom_follower_id cfid on af.follower_alias = cfid.follower_alias
""").persist()

artist_follower_ids_df.createOrReplaceTempView('artist_follower')

## ALS model generation

In [ ]:
als_model = ALS(rank=2, implicitPrefs=True,
          userCol="follower_id", itemCol="artist_id", ratingCol="count", nonnegative=True)

In [10]:
# als_model = ALS(rank=5, maxIter=5, seed=0, regParam=1, implicitPrefs=True,
#           userCol="follower_id", itemCol="artist_id", ratingCol="count", nonnegative=True)

In [8]:
model = als_model.fit(artist_follower_ids_df)

KeyboardInterrupt

## Load model item features

In [6]:
item_features = pd.read_csv('../data/bestModelItems.csv')

In [7]:
item_features.drop('Unnamed: 0', inplace=True, axis = 1)

In [8]:
items = spark.createDataFrame(item_features)

In [9]:
items.createOrReplaceTempView('item_features')

## Combine item_features df into new artist_meta data df

In [10]:
artist_info = spark.sql("""
    SELECT distinct
        if.id
        ,if.features
        ,a.artist_name
        ,a.sc_alias
        ,a.city
        ,a.country
        ,a.followers_count
        ,a.followings_count
        ,a.last_modified
        ,a.playlist_count
        ,a.plan
        ,a.public_favorites_count
        ,a.track_count
        ,a.count
    FROM item_features if 
    JOIN custom_artist_id caid on if.id = caid.artist_id
    JOIN artists a on caid.artist_alias = a.sc_alias
""")

In [48]:
artist_meta = artist_info.toPandas()

In [49]:
artist_meta['formatted_features'] = artist_meta['features'].map(lambda x: ast.literal_eval(x))

## Convert features to matrix and calculate cosine similarity

In [13]:
items_mat = np.array(list(artist_meta['formatted_features'].values)).astype(float)

In [14]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine

In [15]:
cos_sim = 1-pairwise_distances(items_mat, metric="cosine")

In [18]:
artist_meta.to_excel('../data/artist_meta.xlsx')

In [55]:
artist_meta.to_json('../data/artist_meta.json')

In [44]:
artist_meta2 = pd.read_excel('../data/artist_meta.xlsx')

In [20]:
np.savetxt('../data/cos_sim_mat.txt', cos_sim)

In [21]:
mat = np.loadtxt('../data/cos_sim_mat.txt')

In [56]:
artist_meta = pd.read_json('../data/artist_meta.json')

In [57]:
items_mat = np.array(list(artist_meta['formatted_features'].values)).astype(float)

## Concatenate cos_sim matrix with meta data for easy lookup.

In [92]:
cols = list(artist_meta.columns)

In [93]:
similarity_indices = list(artist_meta['sc_alias'])

In [94]:
cols.extend(similarity_indices)

In [24]:
# 1. determine matrix index of artist. 
# 2. get the indices of the top n+1 artists - ignoring the index of the 1st b/c it will be the same artist
# 3. retrieve the aliases associated to those indices from a list
# 4. zip aliases with cosine similarities - sort zipped list by cosine similarity in descending order.
# 5. return results of aliases

# 1. Store the cos_sim matrix
# 2. Store the artist_meta table

# App:
# 1. Load the cos_sim matrix
# 2. Load the artist_meta table
# 3. Store an html string formatted with each  alias and artist name in the following format in Excel:
# sort artists by name in alphabetical order
#                <option value='choose_one'>Choose Home Team</option>
#                <option value="9">Arsenal</option>
# 3. Retrieve the user's searched alias
# 4. Retrieve aliases of the top 24 most similar artists
# 5. For each artist, populate their alias 

# Ideal App:
# 1. Allow the user to filter the recommendations by min_followers and max_followers
# 2. Allow the user to filter the artists by min_followers and max_followers

In [25]:
n = 30

In [26]:
alias = 'alephhhhh'

In [42]:
artist = artist_meta[artist_meta['sc_alias']==alias]['artist_name'].values[0]

In [43]:
artist

u'Aleph'

In [35]:
row

,id,features,artist_name,sc_alias,city,country,followers_count,followings_count,last_modified,playlist_count,plan,public_favorites_count,track_count,count,formatted_features
28,133,"[0.005527534522116184, 0.005194265395402908, 0...",Aleph,alephhhhh,Moscow,None,1907,590,2016/12/13 15:29:43 +0000,0,Free,228,14,None,"[0.00552753452212, 0.0051942653954, 0.00628775..."

In [27]:
artist_aliases = list(artist_meta['sc_alias'])

In [58]:
len(artist_aliases)

4911

In [59]:
len(set(artist_aliases))

4834

In [28]:
index = artist_aliases.index(alias)

In [29]:
arr = cos_sim[index]

In [31]:
similar_aliases = np.asarray(artist_aliases)[arr.argsort()[-(n+1):][::-1][1:]]

In [33]:
similar_aliases

array([u'becoming-real', u'nosybmols', u'headhunter', u'coolyg',
       u'callahan_uk', u'drocar', u'geiom', u'toyc', u'alismusic',
       u'babastiltz', u'samoyed', u'heterotic', u'cuppcave',
       u'sapphire-slows', u'egyptrixx', u'ivvvo', u'thefft', u'bazzerk',
       u'jay-weed', u'airbird', u'boxworkmusic', u'hyetal', u'peverelist',
       u'punchdrunkrecords', u'aisha-devi', u'mikaelseifu',
       u'benedek_music', u'damu', u'brackles', u'ghostsontape'],
      dtype='<U27')

In [32]:
artist_meta[artist_meta['sc_alias'].isin(similar_aliases)]

,id,features,artist_name,sc_alias,city,country,followers_count,followings_count,last_modified,playlist_count,plan,public_favorites_count,track_count,count,formatted_features
110,2335,"[0.00670914351940155, 0.006264227908104658, 0....",IVVVO,ivvvo,London,None,6866,19,2016/11/27 18:04:32 +0000,0,Free,577,2,None,"[0.0067091435194, 0.0062642279081, 0.007467627..."
287,937,"[0.006108156405389309, 0.005767497234046459, 0...",Cooly G,coolyg,London,None,2983,2,2016/11/07 22:11:42 +0000,1,Free,9,7,None,"[0.00610815640539, 0.00576749723405, 0.0070297..."
288,1032,"[0.0068186623975634575, 0.006455729249864817, ...",Damu,damu,Sheffield,Britain (UK),7213,215,2016/09/21 18:47:01 +0000,4,Pro Plus,1,22,None,"[0.00681866239756, 0.00645572924986, 0.0077431..."
1305,107,"[0.005220510996878147, 0.004952860064804554, 0...",Airbird,airbird,Brooklyn,United States,1555,34,2016/10/13 14:35:01 +0000,4,Pro Plus,7,33,None,"[0.00522051099688, 0.0049528600648, 0.00605716..."
1349,5338,"[0.005483920685946941, 0.005203558132052422, 0...",Toyc,toyc,London,None,1757,122,2016/10/24 12:56:17 +0000,2,Pro,124,3,None,"[0.00548392068595, 0.00520355813205, 0.0062982..."
1678,631,"[0.006880370434373617, 0.006514685694128275, 0...",Brackles,brackles,London,None,7759,369,2016/11/23 20:41:51 +0000,2,Free,64,9,None,"[0.00688037043437, 0.00651468569413, 0.0078168..."
1985,486,"[0.0063577620312571526, 0.006131819449365139, ...",Benedek,benedek_music,"CAFE BENE , LOS ANGELES",United States,5124,416,2016/10/04 01:33:09 +0000,0,Free,459,3,None,"[0.00635776203126, 0.00613181944937, 0.0072976..."
2274,995,"[0.005722653586417437, 0.005387454759329557, 0...",Cupp Cave,cuppcave,None,None,2373,59,2014/12/15 14:08:02 +0000,0,Free,7,0,None,"[0.00572265358642, 0.00538745475933, 0.0065835..."
2303,5153,"[0.006321607157588005, 0.005954438354820013, 0...",Thefft,thefft,London,None,3558,284,2016/09/16 04:52:01 +0000,0,Pro,602,13,None,"[0.00632160715759, 0.00595443835482, 0.0070958..."
2313,469,"[0.0057228561490774155, 0.005356927402317524, ...",Becoming Real,becoming-real,norwegianway,None,2142,79,2016/09/15 14:34:31 +0000,8,Free,8,26,None,"[0.00572285614908, 0.00535692740232, 0.0065645..."
2365,4561,"[0.006181358825415373, 0.005791510920971632, 0...",Sapphire Slows,sapphire-slows,Tokyo,Japan,3488,84,2016/10/11 12:18:52 +0000,0,Free,31,7,None,"[0.00618135882542, 0.00579151092097, 0.0070141..."
2533,2152,"[0.005816408898681402, 0.005382404662668705, 0...",Heterotic,heterotic,Brighton & Hove,Britain (UK),2333,91,2016/03/11 10:20:51 +0000,3,Free,5,21,None,"[0.00581640889868, 0.00538240466267, 0.0064773..."
2560,1597,"[0.006801253650337458, 0.0064229583367705345, ...",Egyptrixx,egyptrixx,Toronto,Canada,7295,93,2016/11/28 21:30:13 +0000,0,Pro,153,12,None,"[0.00680125365034, 0.00642295833677, 0.0077029..."
2676,418,"[0.006800821982324123, 0.006510608829557896, 0...",Baba Stiltz & Samo,babastiltz,Stockholm,Sweden,10684,31,2016/12/20 13:47:01 +0000,2,Free,36,2,2.0,"[0.00680082198232, 0.00651060882956, 0.0077892..."
2866,717,"[0.006172593683004379, 0.005853180307894945, 0...",Callahan,callahan_uk,London,None,2922,198,2016/06/04 09:51:19 +0000,7,Pro,139,14,None,"[0.006172593683, 0.00585318030789, 0.006977167..."
2963,109,"[0.006506381090730429, 0.00598261458799243, 0....",Aisha,aisha-devi,None,None,4814,150,2016/07/21 10:39:36 +0000,2,Pro,47,20,None,"[0.00650638109073, 0.00598261458799, 0.0072160..."
3285,1505,"[0.006357151549309492, 0.0060388450510799885, ...",Dro Carey,drocar,Sydney,None,4287,999,2016/11/14 01:29:57 +0000,8,Pro Plus,1200,18,None,"[0.00635715154931, 0.00603884505108, 0.0071679..."
3474,2219,"[0.006998076103627682, 0.00654330151155591, 0....",Hyetal,hyetal,None,None,10014,0,2016/11/22 16:01:37 +0000,1,Pro,0,11,None,"[0.00699807610363, 0.00654330151156, 0.0078308..."
3671,2116,"[0.006368374451994896, 0.005966086871922016, 0...",Headhunter,headhunter,Bristol,Britain (UK),3710,50,2016/02/19 17:49:55 +0000,0,Free,13,1,None,"[0.00636837445199, 0.00596608687192, 0.0071815..."
3850,1971,"[0.006332854740321636, 0.005955997854471207, 0...",Ghosts On Tape,ghostsontape,None,None,3630,163,2016/11/21 10:10:49 +0000,1,Pro,27,14,None,"[0.00633285474032, 0.00595599785447, 0.0070777..."
3903,4069,"[0.007107052020728588, 0.00661349855363369, 0....",Pev,peverelist,Bristol,None,14764,186,2016/10/01 16:24:00 +0000,0,Free,29,32,None,"[0.00710705202073, 0.00661349855363, 0.0078705..."
3916,453,"[0.005999013315886259, 0.005644664634019136, 0...",Bazzerk,bazzerk,None,France,2600,780,2016/11/28 13:30:32 +0000,5,Free,173,12,None,"[0.00599901331589, 0.00564466463402, 0.0068657..."
4032,186,"[0.0064358944073319435, 0.005989619996398687, ...",Subeena,alismusic,Berlin / London,None,4228,504,2016/12/20 16:55:40 +0000,0,Pro Plus,396,10,2.0,"[0.00643589440733, 0.0059896199964, 0.00718653..."
4047,3447,"[0.006362563464790583, 0.005950775928795338, 0...",Mikael Seifu,mikaelseifu,Addis Ababa,Ethiopia,4455,7,2016/05/02 14:20:11 +0000,4,Free,3,9,None,"[0.00636256346479, 0.0059507759288, 0.00730140..."
4130,624,"[0.005749982316046953, 0.0054033976048231125, ...",Boxwork,boxworkmusic,London,None,2051,296,2016/12/11 17:27:59 +0000,0,Pro,120,6,None,"[0.00574998231605, 0.00540339760482, 0.0064769..."
4292,1944,"[0.005518678575754166, 0.005131228361278772, 0...",Geiom,geiom,Nottingham,Britain (UK),1853,75,2016/10/27 09:26:36 +0000,0,Free,6,17,None,"[0.00551867857575, 0.00513122836128, 0.0062854..."
4301,4196,"[0.006906033959239721, 0.006456168834120035, 0...",Dreesvn,punchdrunkrecords,Bristol,Britain (UK),8811,8,2015/09/01 16:33:06 +0000,0,Free,3,53,None,"[0.00690603395924, 0.00645616883412, 0.0077558..."
4434,2431,"[0.005613201297819614, 0.005272668786346912, 0...",Jay Weed,jay-weed,Lyon,France,2012,3,2014/10/01 07:15:33 +0000,0,Free,0,10,None,"[0.00561320129782, 0.00527266878635, 0.0063686..."
4680,3795,"[0.00661688344553113, 0.006183236371725798, 0....",Beneath,nosybmols,London,None,5458,0,2016/10/14 17:32:01 +0000,4,Free,1,9,None,"[0.00661688344553, 0.00618323637173, 0.0074248..."
4873,4536,"[0.006056120153516531, 0.005676614586263895, 0...",Samoyed,samoyed,highlands of scotland,None,3025,115,2016/04/10 22:08:56 +0000,1,Free,41,17,None,"[0.00605612015352, 0.00567661458626, 0.0068441..."

In [101]:
test = pd.concat([artist_meta, pd.DataFrame(cos_sim)], axis=1)

In [103]:
test.columns = cols

In [104]:
test

,id,features,artist_name,sc_alias,city,country,followers_count,followings_count,last_modified,playlist_count,...,pi-ge,silky1122,studio-of-scott-grooves,studio_ost,subspec-music,tonibraxton,undergroundquality,undergroundquality,viroid-life,zero7
0,220,"[0.011487905867397785, 0.004812932573258877, 0...",Amnesys,amnesys,Roma,Italy,7222,6,2016/12/05 11:20:43 +0000,3,...,0.862838,0.886397,0.880531,0.879552,0.865990,0.795705,0.882244,0.882244,0.867402,0.913396
1,745,"[0.005809524562209845, 0.005388314835727215, 0...",Casbah 73,casbah-73,Madrid,Spain,2284,315,2016/12/08 08:57:22 +0000,7,...,0.996808,0.999701,0.999738,0.999389,0.997517,0.909610,0.999701,0.999701,0.997597,0.988378
2,1177,"[0.007013583555817604, 0.0065416391007602215, ...",Delroy Edwards,delroy-edwards,LOS ANGELES,United States,16152,75,2015/07/31 22:52:08 +0000,0,...,0.995946,0.999524,0.999625,0.999863,0.997517,0.921426,0.999630,0.999630,0.998438,0.988706
3,1325,"[0.0043734596110880375, 0.004842094145715237, ...",[sic!],djavisic,Chicago,United States,905,276,2016/10/26 15:41:59 +0000,0,...,0.975442,0.987273,0.987368,0.987902,0.979087,0.900820,0.987602,0.987602,0.981531,0.996803
4,1374,"[0.003226189874112606, 0.003057810477912426, 0...",Djinji Brown,djinjibrown1,Miami,United States,573,0,2015/11/07 15:26:29 +0000,0,...,0.997771,0.998074,0.998252,0.997810,0.997535,0.904152,0.997989,0.997989,0.997495,0.981875
5,1958,"[0.005887952633202076, 0.0056527527049183846, ...",Georgia,georgia_hb,London,None,2426,0,2016/08/11 14:17:45 +0000,3,...,0.991751,0.998104,0.997937,0.998443,0.993854,0.917182,0.997960,0.997960,0.995811,0.993879
6,2097,"[0.004784272518008947, 0.0030751442536711693, ...",SCM,hardcorescm,Willenhall,Britain (UK),516,42,2016/12/23 08:37:19 +0000,9,...,0.937204,0.948330,0.946697,0.944717,0.939919,0.867419,0.948127,0.948127,0.936125,0.949732
7,2236,"[0.005387980490922928, 0.004920941311866045, 0...",Ian O'Brien,ian-obrien,Tokyo,Japan,1709,62,2016/12/01 10:05:27 +0000,4,...,0.998186,0.999738,0.999973,0.999783,0.999038,0.918029,0.999946,0.999946,0.998947,0.984625
8,2408,"[0.007283162325620651, 0.008462832309305668, 0...",Jaques Raup,jaquesraupe,Blstringen,None,14304,16,2016/10/16 16:48:47 +0000,6,...,0.980339,0.988371,0.989449,0.989078,0.983378,0.900282,0.989747,0.989747,0.983100,0.989973
9,2479,"[0.0068942042998969555, 0.006244171876460314, ...",The Persuader,jesperdahlback,Stockholm,Sweden,5601,4,2016/06/17 07:08:53 +0000,1,...,0.997627,0.999727,0.999923,0.999563,0.998533,0.916003,0.999966,0.999966,0.998139,0.985818
10,2751,"[0.005666176788508892, 0.0051507833413779736, ...",Kevin Reynolds,kevinreynoldsdetroit,Detroit,United States,2054,1447,2016/10/14 15:34:56 +0000,3,...,0.998349,0.999726,0.999963,0.999724,0.999127,0.917600,0.999936,0.999936,0.998928,0.984225
11,3287,"[0.005013841204345226, 0.004274134058505297, 0...",Martyn,martyne,Offenbach,Germany,1187,22,2016/11/09 19:39:46 +0000,0,...,0.999825,0.998453,0.998783,0.997938,0.999662,0.913149,0.998763,0.998763,0.997958,0.976695
12,3315,"[0.00605437345802784, 0.005279646720737219, 0....",Matt Star,matt-star,Offenbach,Germany,2175,24,2016/11/22 14:27:11 +0000,1,...,0.998984,0.999428,0.999617,0.998859,0.999158,0.911402,0.999631,0.999631,0.997930,0.981990
13,3415,"[0.0059808907099068165, 0.005294788628816605, ...",Michael Mclardy,michael-mclardy,Nottingham,None,2192,392,2016/11/04 12:55:54 +0000,0,...,0.998834,0.999507,0.999698,0.998959,0.999009,0.910173,0.999690,0.999690,0.997914,0.982824
14,3484,"[0.00568307563662529, 0.004925658460706472, 0....",Mirco Violi,mircovioli,Milan,None,1652,136,2016/10/07 17:47:00 +0000,3,...,0.999385,0.998897,0.999149,0.998151,0.999166,0.908045,0.999141,0.999141,0.997430,0.979634
15,3551,"[0.006235726643353701, 0.005742484703660011, 0...",Moon Runner,moonrunnermoonrunner,mexico city,Mexico,2883,113,2013/08/09 01:49:27 +0000,1,...,0.997540,0.999721,0.999884,0.999396,0.998177,0.910780,0.999879,0.999879,0.997764,0.986623
16,3633,"[0.00512832123786211, 0.0046824621967971325, 0...",Mutado Pintado,mutado-pintado,London,None,1552,110,2016/11/06 23:31:27 +0000,8,...,0.997233,0.999866,0.999932,0.999829,0.998225,0.916465,0.999911,0.999911,0.998544,0.987266
17,3705,"[0.0056720213033258915, 0.005290761590003967, ...",Night Works,nghtwrks,London,None,1774,173,2016/12/15 15:42:15 +0000,4,...,0.995045,0.999398,0.999341,0.999240,0.996297,0.912224,0.999359,0.999359,0.996929,0.991024
18,3749,"[0.002571381628513336, 0.0020904638804495335, ...",Nightdrivers,nightdrivers,None,None,333,58,2016/10/12 02:22:38 +0000,2,...,0.998149,0.991575,0.992264,0.991010,0.996606,0.907144,0.992064,0.992064,0.993560,0.958440
19,3810,"[0.007067958824336529, 0.0061615086160600185, ...",Nu Zau,nu-zau,None,Romania,8311,1,2016/10/14 14:12:04 +0000,1,...,0.998763,0.999476,0.999685,0.999043,0.999191,0.914471,0.999730,0.999730,0.998092,0.982325
20,4041,"[0.006245038937777281, 0.005778646096587181, 0...",Pender Street Steppers,pender-street-steppers,Vancouver,Canada,13351,169,2016/11/21 09:36:59 +0000,2,...,0.997064,0.999739,0.999896,0.999939,0.998294,0.919672,0.999881,0.999881,0.998773,0.987050
21,4581,"[0.006121119949966669, 0.011131925508379936, 0...",Savant,savantofficial,Internet,None,9021,4,2016/07/16 17:16:57 +0000,0,...,0.901450,0.913962,0.918299,0.922366,0.912995,0.932124,0.918968,0.918968,0.917518,0.922095
22,4583,"[0.005359753035008907, 0.004636294674128294, 0...",Saverio Celestri,saverio-celestri,berlin,Germany,1556,13,2016/12/21 04:08:48 +0000,0,...,0.999660,0.998858,0.999184,0.998488,0.999737,0.914874,0.999166,0.999166,0.998362,0.978343
23,4647,"[0.0073234098963439465, 0.007235100492835045, ...",Serebro,serebro,Moscow,None,5756,9,2016/12/12 15:15:00 +0000,5,...,0.902538,0.919615,0.916262,0.913671,0.899274,0.716156,0.915761,0.915761,0.901930,0.952183
24,4787,"[0.004925035405904055, 0.004433084279298782, 0...",Society Of Silence,society_of_silence,Paris,France,1158,564,2016/11/18 07:40:49 +0000,3,...,0.998810,0.999467,0.999789,0.999555,0.999561,0.920076,0.999767,0.999767,0.999168,0.982080
25,5025,"[0.00580560090020299, 0.005817301105707884, 0....",Tara McDonald,tara-mcdonald,London,Britain (UK),2134,15,2016/02/11 19:36:23 +0000,4,...,0.981413,0.991519,0.990873,0.990589,0.982959,0.883383,0.990924,0.990924,0.984710,0.998320
26,5050,"[0.0069308169186115265, 0.0067283459939062595,...",Teki Latex,teki-latex,Paris,None,7888,340,2016/09/27 22:03:55 +0000,4,...,0.994402,0.998986,0.999149,0.999314,0.996144,0.917414,0.999176,0.999176,0.997081,0.990962
27,5099,"[0.0033430878538638353, 0.0030847236048430204,...",The Groove Brothers and Friends,the-groove-brothers,Ljubljana,Slovenia,550,372,2016/04/26 12:38:47 +0000,1,...,0.997397,0.999337,0.999422,0.998630,0.997499,0.902453,0.999366,0.999366,0.996771,0.986465
28,133,"[0.005527534522116184, 0.005194265395402908, 0...",Aleph,alephhhhh,Moscow,None,1907,590,2016/12/13 15:29:43 +0000,0,...,0.994377,0.999087,0.999033,0.999530,0.996225,0.921680,0.999021,0.999021,0.997872,0.990807
29,231,"[0.0062643373385071754, 0.005776582285761833, ...",Anchorsong,anchorsong,London,Britain (UK),3312,7,2016/04/28 19:46:52 +0000,6,...,0.994877,0.999417,0.999291,0.999478,0.996380,0.916977,0.999300,0.999300,0.997521,0.990996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4881,715,"[0.0047256532125175, 0.004230164922773838, 0.0...",Caldera,caldera-caldera,Brighton,Britain (UK),1065,766,2016/11/14 18:29:24 +0000,5,...,0.998320,0.999658,0.999848,0.999806,0.999255,0.921460,0.999819,0.999819,0.999360,0.983645
4882,829,"[0.007415407337248325, 0.006632863078266382, 0...",Chris Fortier,chris-fortier,None,United States,12196,868,2016/10/13 21:28:22 +0000,5,...,0.997163,0.999517,0.999587,0.998853,0.997682,0.908073,0.999651,0.999651,0.996802,0.986680
4883,1054,"[0.005384589079767466, 0.0048075513914227486, ...",Daniele Temperilli,daniele-temperilli,Amsterdam,Netherlands,1589,181,2016/10/30 13:06:37 +0000,0,...,0.999290,0.999275,0.999597,0.998961,0.999495,0.913175,0.999562,0.999562,0.998419,0.980920
4884,1071,"[0.006664066109806299, 0.006642565596848726, 0...",Danny L,dannylharle,London,None,10160,333,2016/12/20 19:17:37 +0000,4,...,0.989405,0.996705,0.996597,0.997593,0.992143,0.922157,0.996602,0.996602,0.995025,0.994397
4885,1073,"[0.004861369729042053, 0.0044161127880215645, ...",Swoose,dannysimpson1,London,None,1134,259,2016/12/14 12:41:20 +0000,0,...,0.999058,0.999406,0.999724,0.999210,0.999375,0.913496,0.999664,0.999664,0.998621,0.982000
4886,1416,"[0.003628081874921918, 0.003382696071639657, 0...",Kirtana Rasa,djquest,Tallinn,Estonia,884,663,2016/03/16 13:45:15 +0000,0,...,0.991063,0.997503,0.996929,0.997662,0.992734,0.913184,0.996803,0.996803,0.995632,0.993776
4887,1553,"[0.006094939541071653, 0.005902073811739683, 0...",Richard Earnshaw,earnshawmusic,Bosham,Britain (UK),6221,20,2016/11/13 11:26:47 +0000,13,...,0.995552,0.999128,0.999253,0.998810,0.996326,0.905152,0.999215,0.999215,0.996374,0.989971
4888,1688,"[0.007435793522745371, 0.006665744818747044, 0...",Estroe,estroe,Rotterdam,Netherlands,16317,828,2016/12/19 15:48:29 +0000,12,...,0.997616,0.999717,0.999835,0.999281,0.998271,0.911944,0.999881,0.999881,0.997626,0.986062
4889,1743,"[0.006977592594921589, 0.0064669824205338955, ...",Faze Action,fazeaction,London,None,8369,113,2016/11/21 10:11:01 +0000,13,...,0.996973,0.999704,0.999811,0.999399,0.997723,0.910396,0.999804,0.999804,0.997564,0.987904
4890,1779,"[0.005228451918810606, 0.0048286933451890945, ...",SZCH,filipscekic,croatia,None,1640,857,2016/12/25 17:29:43 +0000,6,...,0.997390,0.999521,0.999755,0.999978,0.998734,0.924144,0.999721,0.999721,0.999376,0.985263
4891,2121,"[0.01025207620114088, 0.008177202194929123, 0....",Basic Bastard,heartlessbastards,"Austin, TX",United States,3407,0,2016/03/27 20:59:44 +0000,6,...,0.918321,0.932118,0.931428,0.928635,0.921401,0.831936,0.932915,0.932915,0.916408,0.943413
4892,2421,"[0.005173233337700367, 0.004772519692778587, 0...",Javi Frias,javi-frias,Madrid,Spain,1500,1154,2016/12/26 13:55:09 +0000,9,...,0.997738,0.999656,0.999761,0.999275,0.998133,0.908486,0.999691,0.999691,0.997870,0.986276
4893,2546,"[0.005176211707293987, 0.004457444883882999, 0...",John Dalagelis,johndalagelis,Berlin,Germany,1198,452,2016/10/10 18:25:43 +0000,5,...,0.999095,0.999076,0.999230,0.998207,0.998880,0.906623,0.999235,0.999235,0.997214,0.980906
4894,2710,"[0.007418719120323658, 0.006508985068649054, 0...",Kate Tempest,katetempest,London,Britain (UK),9593,1,2016/10/14 15:54:47 +0000,3,...,0.988970,0.996638,0.996017,0.995975,0.990854,0.908415,0.996232,0.996232,0.991980,0.994957
4895,2840,"[0.007216627709567547, 0.00687536271288991, 0....",Krystal Klear,krystalklear,"Dublin, Ireland",Britain (UK),21003,131,2016/12/07 14:27:24 +0000,5,...,0.994851,0.999265,0.999322,0.999423,0.996385,0.915942,0.999332,0.999332,0.997289,0.990884
4896,3368,"[0.0071545070968568325, 0.006635567173361778, ...",Motor City Drum Ensemble,mcde-recordings,None,Netherlands,15878,0,2016/01/27 15:04:02 +0000,4,...,0.996994,0.999751,0.999916,0.999747,0.998078,0.916119,0.999923,0.999923,0.998208,0.987523
4897,3438,"[0.0002677981392480433, 0.0003075978020206094,...",Mighty Mouse,mightymouse-1,None,None,13576,45,2016/11/28 18:17:54 +0000,0,...,0.919651,0.894438,0.897043,0.892390,0.910427,0.759274,0.895752,0.895752,0.900732,0.830024
4898,3714,"[0.007669150363653898, 0.006947157438844442, 0...",NiCe7,nice7,Roma,Italy,32773,134,2016/12/16 14:45:34 +0000,4,...,0.997097,0.999574,0.999656,0.998986,0.997648,0.907971,0.999697,0.999697,0.996944,0.987154
4899,3937,"[0.005057863891124725, 0.004451282322406769, 0...",Pash,p-a-s-h,BERLIN,Germany,1248,363,2016/11/03 22:19:53 +0000,0,...,0.999195,0.999346,0.999546,0.998795,0.999209,0.909995,0.999508,0.999508,0.998069,0.981524
4900,4027,"[0.004952332004904747, 0.004568495322018862, 0...",Payfone,payfone,London,Britain (UK),1249,135,2016/11/06 16:38:10 +0000,0,...,0.998129,0.999725,0.999924,0.999629,0.998759,0.913957,0.999861,0.999861,0.998642,0.985175
4901,4102,"[0.003906471189111471, 0.003306877100840211, 0...",DJ Pi-Ge,pi-ge,Tokyo,Japan,678,132,2016/11/30 11:43:51 +0000,2,...,1.000000,0.997498,0.997900,0.997012,0.999541,0.912540,0.997826,0.997826,0.997655,0.973290
4902,4717,"[0.0029047809075564146, 0.002495340071618557, ...",Worldwide Epidemic,silky1122,Auckland,New Zealand,402,362,2016/10/15 06:35:51 +0000,0,...,0.997498,1.000000,0.999808,0.999586,0.998222,0.915157,0.999812,0.999812,0.998395,0.986742
4903,4942,"[0.0064767273142933846, 0.005913525354117155, ...",Scott Grooves,studio-of-scott-grooves,Detroit,United States,4310,6,2016/04/06 11:51:30 +0000,11,...,0.997900,0.999808,1.000000,0.999754,0.998755,0.916482,0.999989,0.999989,0.998632,0.985586
4904,4943,"[0.005464163608849049, 0.00504714623093605, 0....",Studio OST,studio_ost,The Studio,United States,1872,2,2016/12/05 03:22:17 +0000,1,...,0.997012,0.999586,0.999754,1.000000,0.998407,0.923347,0.999724,0.999724,0.999194,0.986373
4905,4951,"[0.003237092401832342, 0.002857800805941224, 0...",JGarrett,subspec-music,Vancouver,Canada,491,88,2016/12/05 16:33:23 +0000,47,...,0.999541,0.998222,0.998755,0.998407,1.000000,0.922513,0.998717,0.998717,0.998977,0.976082
4906,5320,"[0.0030731467995792627, 0.0026173382066190243,...",Toni Braxton,tonibraxton,None,None,2850,0,2016/03/26 08:00:03 +0000,2,...,0.912540,0.915157,0.916482,0.923347,0.922513,1.000000,0.916821,0.916821,0.931280,0.889802
4907,5413,"[0.006923242937773466, 0.006277182139456272, 0...",Jus-Ed,undergroundquality,"Bridgeport, Connecticut",United States,8080,29,2016/03/21 17:12:27 +0000,6,...,0.997826,0.999812,0.999989,0.999724,0.998717,0.916821,1.000000,1.000000,0.998531,0.985648
4908,5413,"[0.006923242937773466, 0.006277182139456272, 0...",DJ Jus Ed,undergroundquality,"Bridgeport, Connecticut",United States,8080,29,2016/03/21 17:12:27 +0000,6,...,0.997826,0.999812,0.999989,0.999724,0.998717,0.916821,1.000000,1.000000,0.998531,0.985648
4909,5479,"[0.003421961795538664, 0.003051097970455885, 0...",HOLOVR,viroid-life,None,None,572,275,2016/10/15 13:20:48 +0000,0,...,0.997655,0.998395,0.998632,0.999194,0.998977,0.931280,0.998531,0.998531,1.000000,0.980272
4910,5657,"[0.0077242557890713215, 0.007628899533301592, ...",Zero 7,zero7,London,None,32409,1,2016/02/18 14:22:57 +0000,4,...,0.973290,0.986742,0.985586,0.986373,0.976082,0.889802,0.985648,0.985648,0.980272,1.000000

## Follower overlap analysis

In [11]:
artist_follower_group = artist_follower.groupby('follower_alias')

In [29]:
follower_count = artist_follower_group.count().sort_values(by='artist_alias', ascending=False)

In [30]:
follower_count = follower_count['artist_alias']

In [31]:
follower_count = pd.DataFrame(follower_count)

In [34]:
follower_count.reset_index(inplace=True)

In [37]:
follower_count.columns = ['follower_alias', 'count']

In [46]:
#6392743 unique followers
#29125208 total followers
#26640 followers that were following more than 100 of the ~5000 artists scraped
#504836 followers following more than 10 of the ~5000 artists scraped